{% extends 'base.html' %}
{% block sidebar %}
    <ul class="nav nav-stacked" id="sidebar">
        {% for image_name in image_list %}
            <li>
                <a href="/images/{{ image_name }}">{{ image_name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    {% if selected_image %}
        <canvas id="image_canvas" width="1024" height="1024"></canvas>
        <script type='text/javascript'>
            var canvas = document.getElementById('image_canvas');
            var context = canvas.getContext('2d');
            var img = new Image();
            img.onload = function() {
                context.drawImage(img, 0, 0);
            }
            img.src = "/images/render/{{ selected_image }}";
        </script>
    {% else %}
        <p>Please select an image.</p>
    {% endif %}
{% endblock %}